<!DOCTYPE html>
<html lang="en">

<head>
    <title>Booking</title>

    <%- include('../partials/metadata') %>

        <style>
            .list-group-item .form-check-input:checked {
                background-color: black;
                border-color: black;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .list-group-item .form-check-input {
                /* background-color: black; */
                border-color: lightgrey;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }

            .list-group-item .form-check-input:focus {
                box-shadow: 0 0 0 0.25rem lightgray;
            }

            .haircut-col img {
                transition: opacity 0.3s ease-in-out;
            }

            .haircut-col.selected img {
                opacity: 0.3;
                border: 4px solid green;
            }
        </style>
        <!-- <link href="/progress-bar/style.css" rel="stylesheet"> -->
</head>

<body>
    <!-- ======= Header ======= -->
    <%- include('../partials/header') %>

        <!-- ======= Sidebar ======= -->
        <%- include('../partials/sidebar') %>


            <!-- Main content-->
            <main id="main" class="main">
                <!--Progress Bar-->
                <!-- <div class="container">
                    <div class="row">
                        <div id="container">
                            <div class="line-1"></div>
                            <div class="circle-1">
                                <div class="inner-circle-1">
                                    <span class="text-1">1</span>
                                </div>
                            </div>

                            <div class="line-2"></div>

                            <div class="circle-2">
                                <div class="inner-circle-2">
                                    <span class="text-2">2</span>
                                </div>
                            </div>

                            <div class="line-3"></div>
                            <button id="left">
                                < </button>
                                    <button id="right"> > </button>
                        </div>
                    </div>
                </div> -->


                <!--Haircut style-->
                <div class="container">
                    <div class="row">
                        <% for(let haircut of haircuts){ %>
                            <div class="col haircut-col">
                                <div class="card" style="width: 18rem;">
                                    <img src=<%=haircut.picture %> class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text fs-3">
                                            <%= haircut.name %>
                                        </p>
                                        <p class="card-text">
                                            R<%=haircut.price%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>


                <!--Extras-->
                <ul class="list-group bs">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="HairDye">
                        <label class="form-check-label" for="firstCheckbox">With Hair Dye : R20</label>
                    </li>
                </ul>

                <!--Total Price-->


                <!--Next Button-->
                <a class="btn btn-outline-dark mt-4" href="/book/slot">
                    <span class="text-dark">Pick The Slot</span>
                    <i class="bi bi-arrow-bar-right text-dark ms-2"></i>
                </a>

            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include('../partials/footer') %>


                <script src="/progress-bar/main.js"></script>

                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                <script>
                    /**
                     * Selecting the haircut
                     * 
                    */
                    $(document).ready(function () {
                        $(".haircut-col").on("click", function () {
                            //create a new booking document with the infomation 

                            $(this).toggleClass("selected");
                        });
                    });
                </script>
</body>

</html>